@font-face {
  font-family: "Fira Sans";
  src: url('../img/fonts/fira/eot/FiraSans-Regular.eot');
  src: url('../img/fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('../img/fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
       url('../img/fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
       url('../img/fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: arial;
}

/* Aside */
aside {
  width: 430px;
  z-index: 1000;
  position: fixed;
  margin-left: 160px;
  background-color: #d5d4d2ff; 
  box-shadow: 5px 2px 5px black;
  .box {
    padding-top: 10px;
    .title-1 {
      width: 210px;
      padding-left: 10px;
      vertical-align: top;
      color: #262626;
      display: inline-block;
      .title-word {font-size: 2em}
      span { font-size: 70px}
    }
    .title-2 {
      text-align: center;
      display: inline-block;
      a { color: black; }
    }
  }
  .nav {
    width: 100%;
    height: 75vh;
    vertical-align: top;
    display: inline-block;
    background-color: #d5d4d2ff; 
    a {text-decoration: none; color: #262626;}
    
    div {
      width: 100%;
      padding: 10px;
      font-size: 40px;
      box-sizing: border-box;
      &:hover {background-color: white}
    }
  }
}

main {
  .section {
    min-height: 100vh;
    .container {
      margin-left: 700px;
      div {
        width: 700px;
        padding: 10px;
        font-size: 20px;
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
        .summary {
          width: 100%;
        }
        a {
          button {
            color: white;
            font-size: 17px;
            padding: 5px 20px;
            border-radius: 10px;
            background-color: #59635b; 
            border: 5px solid #fbf4e6; 
            border-right: 4px solid #31322d;
            border-bottom: 8px solid #31322d;
          }
        } 
      }
      .banner { float: right; }
      button { border: 2px solid black; }
    }
    &#section-1 {
      background-color: #414143ff;
      .container div {
        color: #d5d4d2ff;
      }
      .container .banner {
        margin-top: 10px;
        margin-right: 20px;
      }
      .btn-container {
        button {
          width: 6em;
          height: 6em;
          text-align: center;
          margin-right: 30px;
          border-radius: 10px;
          border: 8px solid #fbf4e6; 
          background-color: #262626ff;
          border-right: 4px solid #31322d;
          border-bottom: 8px solid #31322d;
          img { height: 40px }
        }
      }
    }

    &#section-2 {
      color: #d5d4d2ff;
      background-color: #262626;
    }

    &#section-3 {
      color: #d5d4d2ff;
      background-color: #414143ff;
    }
  }
}
footer {
  text-align: right;
  padding-right: 10px;
  background-color: #59635b;
  a { color: white; }
}

@media only screen and (max-width: 800px) {
  aside { display: none; }
  main .section {  height: auto;}
  main .section .container { margin-left: 0px; }
  main .section .container .banner { display: none; }
  main .section .container div { width: 100%; }
  main .section .container .banner { height: 300px; }
}