@font-face {
  font-family: "Fira Sans";
  src: url("../img/fonts/fira/eot/FiraSans-Regular.eot");
  src: url("../img/fonts/fira/eot/FiraSans-Regular.eot") format("embedded-opentype"), url("../img/fonts/fira/woff2/FiraSans-Regular.woff2") format("woff2"), url("../img/fonts/fira/woff/FiraSans-Regular.woff") format("woff"), url("../img/fonts/fira/woff2/FiraSans-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: arial;
}

/* Aside */
aside {
  width: 430px;
  z-index: 1000;
  position: fixed;
  margin-left: 160px;
  background-color: #d5d4d2;
  box-shadow: 5px 2px 5px black;
}
aside .box {
  padding-top: 10px;
}
aside .box .title-1 {
  width: 210px;
  padding-left: 10px;
  vertical-align: top;
  color: #262626;
  display: inline-block;
}
aside .box .title-1 .title-word {
  font-size: 2em;
}
aside .box .title-1 span {
  font-size: 70px;
}
aside .box .title-2 {
  text-align: center;
  display: inline-block;
}
aside .box .title-2 a {
  color: black;
}
aside .nav {
  width: 100%;
  height: 75vh;
  vertical-align: top;
  display: inline-block;
  background-color: #d5d4d2;
}
aside .nav a {
  text-decoration: none;
  color: #262626;
}
aside .nav div {
  width: 100%;
  padding: 10px;
  font-size: 40px;
  box-sizing: border-box;
}
aside .nav div:hover {
  background-color: white;
}

main .section {
  min-height: 100vh;
}
main .section .container {
  margin-left: 700px;
}
main .section .container div {
  width: 700px;
  padding: 10px;
  font-size: 20px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
main .section .container div .summary {
  width: 100%;
}
main .section .container div a button {
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #59635b;
  border: 5px solid #fbf4e6;
  border-right: 4px solid #31322d;
  border-bottom: 8px solid #31322d;
}
main .section .container .banner {
  float: right;
}
main .section .container button {
  border: 2px solid black;
}
main .section#section-1 {
  background-color: #414143;
}
main .section#section-1 .container div {
  color: #d5d4d2;
}
main .section#section-1 .container .banner {
  margin-top: 10px;
  margin-right: 20px;
}
main .section#section-1 .btn-container button {
  width: 6em;
  height: 6em;
  text-align: center;
  margin-right: 30px;
  border-radius: 10px;
  border: 8px solid #fbf4e6;
  background-color: #262626;
  border-right: 4px solid #31322d;
  border-bottom: 8px solid #31322d;
}
main .section#section-1 .btn-container button img {
  height: 40px;
}
main .section#section-2 {
  color: #d5d4d2;
  background-color: #262626;
}
main .section#section-3 {
  color: #d5d4d2;
  background-color: #414143;
}

footer {
  text-align: right;
  padding-right: 10px;
  background-color: #59635b;
}
footer a {
  color: white;
}

@media only screen and (max-width: 800px) {
  aside {
    display: none;
  }
  main .section {
    height: auto;
  }
  main .section .container {
    margin-left: 0px;
  }
  main .section .container .banner {
    display: none;
  }
  main .section .container div {
    width: 100%;
  }
  main .section .container .banner {
    height: 300px;
  }
}

/*# sourceMappingURL=lpa.css.map */
